@charset "utf-8";
.title{
    height: 55px;
    padding: 10px 0;
}
.title-text{
    width: 275px;
    height: 35px;
    font-size: 16px;
    border: 1px #ccc solid;
}
.title span{
    font-size: 18px;
    margin-right: 25px;
}
.submit-btn{
    width: 75px;
    height: 30px;
    margin: 8px 0;
    background-color: white;
    border: none;
}
.type-btns{
    height: 35px;
    line-height: 35px;
}
.type-btns label{
    font-size: 16px;
    margin-right: 20px;
}
.upload-field{
    margin: 10px 0;
}
.show-field{
    width: 720px;
    height: 120px;
    text-align: center;
}
.upload-field label{
    font-size: 14px;
}
.upload-field label:hover{
    cursor: pointer;
    color: #000000;
}
#show-img{
    width: 260px;
    height: 100px;
}
