@charset "utf-8";
body, div, img, a, ul, ol, p {
    margin: 0;
    padding: 0;
}
textarea{resize:none;}
input,button,select,textarea{outline:none}
ul {
    list-style: none;
}

body {
    font-size: 12px;
}
a {
    color: #000;
    text-decoration: none;
}
/* topnav */
.news-topnav{
    position: fixed;
    display: block;
    width: 100%;
    top: 0;
    border-bottom: 1px #ccc solid;
    background-color: #fff;
    z-index: 2;
}
.news-logo img{
    width: 45px;
    height: 45px;
}
.news-logo:hover{
    cursor: pointer;
}
.icon{
    display: inline-block;
    height: 45px;
}
/* news-content */
.news-body{
    position: relative;
    top:40px;
    width:650px;

}
.news-title{
    padding: 20px 0;
    font-weight: 900;
    font-size: 25px;
}
.news-inf{
    padding-bottom: 25px;
}
.news-type{
    float: right;
}
.news-content{
    font:16px/24px PingFangSC-Regular,Microsoft YaHei,Arial,\\5B8B体,Arial Narrow;
}
/* comment */
.comment-body{
    position: relative;
    top: 45px;
}
.comment-add{
    position: relative;
}
.avatar{
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;

}
.avatar:hover{
    cursor: pointer;
}
.comment-add-form{
    position: absolute;
    left: 70px;
    width: 580px;
}
.comment-add-form textarea{
    position: absolute;
    top: 0px;
    display: block;
    padding: 10px;
    width: 580px;
    line-height: 20px;
    height: 80px;
    border: 1px #eee solid;
}
.comment-add-form p{
    position: absolute;
    background-color: #eee;
    top: 80px;
    height: 35px;
    width: 580px;
}
.comment-list{
    position: relative;
    top: 150px;
}
.comment-nav{
    position: relative;
    border-bottom: 1px #ccc solid;
    margin-top:15px;
}
.avatar+div{
    position: absolute;
    left: 70px;
    width: 580px;
}
/* .comment-main{
    position: absolute;
    left: 70px;
    width: 580px;
} */
.comment-commentator{
    position: relative;
    padding: 2px 0;
    width: 580px;
    height: 35px;
}
.comment-commentator-name{
    color: #78a9f3;
    font-size: 16px;
}
.comment-commentator-level{
    position: absolute;
    font-size: 14px;
    top: 2px;
    right: 45px;
}
.comment-commentator a{
    font-size: 16px;
    color: #78a9f3;
}
.comment-content,.comment-text,.comment-reply{
    position: relative;
    width: 580px;
}
.comment-reply{
    background-color: #eee;
    margin-top: 10px;
}
.comment-text{
    font: 14px/24px PingFangSC-Regular,Microsoft YaHei,Arial,\\5B8B体,Arial Narrow;
}
/* reply */
.reply-btn{
    float: right;
    color: #bbb;
    font-size: 14px;
}
.reply-btn:hover{
    cursor: pointer;
}

.reply-text{
    position: relative;
    top: 0px;
    display: block;
    padding: 10px;
    width: 580px;
    line-height: 20px;
    height: 80px;
    border: 1px #eee solid;
}
.reply-text+p{
    position: absolute;
    background-color: #eee;
    top: 80px;
    height: 35px;
    width: 580px;
}
.reply-inf{
    position: relative;
    line-height: 35px;
    padding: 5px 10px;
    font-size: 14px;
    color: #cccccc;
}
.reply-form{
    position: relative;
    height: 40px;
    overflow: hidden;
    margin: 10px 0;
}
.reply-area{
    position: absolute;
    top:0px;
}
.reply-textfield{
    font-size: 14px;
    line-height: 35px;
    padding: 5px 10px;
}
.reply-textfield a{
    color: #78a9f3;
}
.submit-btn{
    height: 35px;
    width: 75px;
    float: right;
    border: none;
    background: #78a9f3;
    color: white;
}
.comment-text img{
    max-width: 100%;
    display: block;
    margin:auto;
}