@charset "utf-8";
.hot-news-title{
    width:337px;
}
.hot-news-title h2{
    font-family: "微软雅黑";
    border-bottom: 2px #78a9f3 solid;
}
.hot-news-list{
    height: 250px;
    line-height: 50px;
}
.hot-news-nav{
    height: 50px;
    width: 337px;
    font-size: 14px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.hot-news-nav .iconfont+span{
    font-family: "Verdana";
    font-size: 14px;
    color: #666;
}
.hot-news-nav:hover{
    cursor: pointer;
    color: deepskyblue;
}
.hot-news-nav img{
    transform: translateY(2px);
    height: 20px;
    width: 20px;
}
