@charset "utf-8";
.hot-news-title{
    width:337px;
}
.hot-news-title h2{
    font-family: "微软雅黑";
    border-bottom: 2px #78a9f3 solid;
}
.hot-news-list{
    height: 250px;
    line-height: 50px;
}
.hot-news-nav{
    height: 50px;
    width: 337px;
    overflow: hidden;
}
.hot-news-nav .iconfont+span{
    font-family: "Verdana";
}
.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}