@charset "utf-8";
.hot-news-title{
    width:337px;
}
.hot-news-title h2{
    font-family: "微软雅黑";
    border-bottom: 2px #78a9f3 solid;
}
.hot-news-list{

}
.hot-news-nav .iconfont+span{
    font-family: "Verdana";
}
.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}