@charset "utf-8";
.upload-tip{
    color: #666;
}
.show-field{
    border: 4px #ccc dashed;
    padding: 20px 40px;
}

.upload-field form label{
    float: left;
    color: gray;
}
.upload-field form input{
    width: 80px;
    height: 30px;
    background: #b3d4fc;
    color: white;
    border: none;
    margin-top: 20px;
    margin-left: 20px;
}
.upload-field form span{
    font-size: 12px;
}