@charset "utf-8";
.upload-field{
    width: 280px;
    height: 100px;
    background-color: white;
    border: 4px #ccc dashed;
    padding: 20px 20px;
}
#show-img{
    float: left;
    width: 100px;
    height: 100px;
    margin-right: 20px;
}
.upload-field form label{
    color: gray;
}
.upload-field form label:hover{
    cursor: pointer;
    color: #78a9f3;
}
.upload-field form input{
    width: 60px;
    height: 25px;
    background: #b3d4fc;
    color: white;
    border: none;
}