@charset "utf-8";
body,div,img,a,ul,ol,p{
	margin:0;
    padding:0;

}
ul{
	list-style:none;
}
body{
    font-size:12px;
}
a{
	color:#000;
	text-decoration:none;
}
/* 总定位居中设置 */
.contenter{
    width: 100%;
}
.widthfix{
    width:1080px;
    margin: auto;
}
/* 头导航栏：logo 、搜索框和用户信息 */
.topnav{
    padding: 40px 0;
    width: 1080px;
    height: 40px;
}
.logo{
    float: left;
    width: 200px;
    font-size: 25px;
    font-family:"微软雅黑";
}
.searchBox{
    float: left;
}
.search{
    width: 410px;
    height: 35px;
    transform: translateY(-2px);
}
.btn-red{
    width: 90px;
    height: 35px;
    border: none;
    background:tomato;
    color:white;
    font-size: 18px;
}
.hide{
    display: none;
}
.userInf{
    width: 120px;
    float:right;
    line-height: 40px;
}
.icon{
    display: inline-block;
    height: 40px;
    width:40px;
    border-radius: 50%;
    overflow: hidden;
}
.icon:hover{
    cursor: pointer;
}
.icon img{
    height: 40px;
    width:40px;
}
.userInf-name{
    display: inline-block;
    transform:translateY(-13px);
    width: 60px;
    line-height: 40px;
    font-size: 16px;
}
.userInf-name span{
    box-sizing: border-box;
    float: right;
    transform: translateY(17px);
    width: 10px;
    height: 8px;
    border: white 5px solid;
    border-top: #000 5px solid; 
}
.btn-white{
    width:50px;
    height: 20px;
    border-radius: 4px;
    border:1px tomato solid;
    color: tomato;
    background: #fff;
}
/* 菜单栏 */
.borderbottom{
    border-bottom: 1px #ccc solid;
}
.menu{
    width: 1080px;
    height: 50px;
}
.type{
    text-align: center;
}
.type li{
    display: inline-block;
    padding:13px 25px;
    font-size: 18px;
    font-family:"微软雅黑";
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.type li:hover{
    color: tomato;
    cursor: pointer;
}
.bottom-red{
    border-bottom: 2px tomato solid;
}
/* 新闻阅览、推荐栏 左阅览、右推荐*/
.content{
    position: relative;
    width: 1080px;
    margin-top:10px;
}

.content-main{
    position: absolute;
    width: 690px;
}
.content-column{
    position: absolute;
    width: 337px;
}
.news-list{
    width: 337px;
    border-top: #ccc;
}
.clearfix::after{
    content:"";
    display: block;
    clear: both;
}