@charset "utf-8";
ul{
    list-style:none;
}
a{
    color:#000;
    text-decoration:none;
}
form{
    display: block;
}
.clearfix::after{
    content: "";
    clear: both;
    display:block;
}
.login{
    display:none;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    background-color: rgba(233, 225, 225, 0.3);
    z-index: 100;
}
.login-bc{
    position:relative;
    overflow: hidden;
    width: 450px;
    margin:100px auto;
    background-color: #fff;
    padding: 15px 20px;
}
.login-bar{
    width: 450px;
    height: 60px;
    white-space: nowrap;
}
.login-bar span{
    display: inline-block;
    width:225px;
    height: 56px;
    line-height: 56px;
    text-align: center;
    font-size: 25px;
    font-weight: 900;
}
.login-bar span:hover{
    cursor: pointer;
    background: #eee;
    border-bottom: solid #78a9f3 4px;
}
.borderHighLight{
    border-bottom: solid #78a9f3 4px;
}
.borderIndex{
    border-bottom: solid rgb(248, 253, 249) 4px;
}
.login-boxs{
    position:relative;
    text-align: left;
    left: 0px;
}
.login-box-2{
    width: 360px;
    height: 220px;
    padding-left:70px;
    overflow: hidden;
    line-height: 20px;
}

.login-box-1{
    padding-left: 70px;
}
.login-box p{
    display: inline-block;
    height: 40px;
    width: 75px;
    line-height: 40px;
    font-size: 16px;
}

.login-box-1 input{
    margin-bottom: 25px;
    height: 18px;
    width: 200px;
    line-height: 18px;
}
.register-name{
    margin-top: 20px;
    height: 18px;
    width: 200px;
    line-height: 18px;
}
.register-pwd{
    margin-top: 20px;
    height: 18px;
    width: 200px;
    line-height: 18px;
}
.log-radio{
    display: inline-block;
    width: 10px;
    height: 10px;
}
.login-box span{
    color:gray;
}
.login-box span img{
    width:12px;

}
.login-btns{

    width:450px;
    border-top:1px solid #ccc;
    padding-top:20px;
    white-space: nowrap;
}
.login-btns input{
    width: 150px;
    margin-left: 50px;
    height:55px;
    border: 0;
    /* border-top: 3px solid pink;
    border-bottom: 3px solid pink; */
    font-size: 18px;
}
.login-btns1{
    background: #78a9f3;
    color:white;
}
.logtip{
    display: block;
    height: 16px;
    margin-top: 10px;
    line-height: 15px;
    color: red
}
.userInf{
    float: right;
    right: 0px;
    text-align: center;
}
.icon{
    display: inline-block;
    height: 40px;
    width:40px;
    background-size: cover;
    border-radius: 50%;
    overflow: hidden;
}
.icon:hover{
    cursor: pointer;
}
.userInf:hover .userInf-name{
    display: none;
}
/*.userInf:hover .icon{*/
    /*width: 80px;*/
    /*height: 80px;*/
/*}*/
.icon img{
    height: 40px;
    width:40px;
}
.userInf-name{
    display: inline-block;
    transform:translateY(-13px);
    width: 60px;
    line-height: 40px;
    font-size: 16px;
}
.userInf-name span{
    box-sizing: border-box;
    float: right;
    transform: translateY(17px);
    width: 10px;
    height: 8px;
    border: white 5px solid;
    border-top: #000 5px solid;
}
.btn-white{
    width:50px;
    height: 20px;
    border-radius: 4px;
    border:1px #78a9f3 solid;
    color: #78a9f3;
    background: #fff;
}
.seeme{
    display: block;
}
.wrong{
    display: none;
}
.userInf-name:hover{
    cursor: pointer;
}
.userInf-drop-down{
    display: none;
    z-index: 5;
}
.userInf:hover .userInf-drop-down{
    display: block;
}
.userInf-drop-down span+span:hover{
    cursor: pointer;
    color: #78a9f3;
}
.userInf-drop-down span{
    display: block;
    height: 40px;
    width: 125px;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
    background-color: rgb(244,244,244);
    border-top: none;
}
.userInf-drop-down-name{
    font-weight: lighter;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
#rememberMe{
    width: 20px;
}
#rememberMe+label{
    transform: translateY(4px);
    position: absolute;
}