@charset "utf-8";
.news-topnav{
    position: fixed;
    display: block;
    width: 100%;
    height: 40px;
    top: 0;
    border-bottom: 1px #ccc solid;
    background-color: #fff;
    z-index: 100000;
}
.news-logo img{
    width: 40px;
    height: 40px;
}
.news-logo:hover{
    cursor: pointer;
}
.userInf{
    top:5px;
}
.icon{
    float: right;
    height: 40px;
    text-align: center;
}
.icon img{
    margin-right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;

}
.icon:hover{
    cursor: pointer;
}
.icon:hover img{
    margin-right: 0;
}
.userInf-drop-down{
    display: none;
    z-index: 50;
}
.icon:hover .userInf-drop-down{
    display: block;
}
.userInf-drop-down span+span:hover{
    cursor: pointer;
    color: #78a9f3;
}
.userInf-drop-down span{
    display: block;
    height: 40px;
    width: 125px;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
    background-color: rgb(244,244,244);
    border-top: none;
}
.userInf-drop-down-name{
    font-weight: lighter;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}