@charset "utf-8";
body{
    background:url("../../static/img/infbackground.jpg") top/cover no-repeat fixed;
}
.main-body{
    position: relative;
    top:46px;
}
.main-content{
    margin-left: 202px;
    padding: 0 20px 50px 20px;
    border:1px #ccc solid;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.05);
    background-color: rgba(255,255,255,0.8);

}