<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>viewpager</title>
        <link rel="stylesheet" href="static/css/carousel.css" />
        <link rel = "stylesheet" href="static/css/index.css"/>
	</head>
	<body>
        <div class="content-main">
            <div class="carousel" id="carousel">
                <div id="carousel-panel" class="carousel-panel"></div>
                <ul id="carousel-opts" class="opts clearfix"></ul>
            </div>
            <div class="content-main-list">

            </div>
        </div>
    </body>
</html>

<script src="static/js/carousel.js"></script>